
tds-table{
    table{
        border-collapse: separate;
        border-spacing: 0;
    }
    .tds-table-thead>tr>th {
        @apply bg-neutral-3-50  p-3;
        
    }
    .tds-table-tbody > tr:not(.tds-table-placeholder) > td {
       
        transition: background .3s;
        @apply border-b border-neutral-2-100 text-neutral-1-900 p-3;
    }
    .tds-table-tbody > tr > td.tds-table-cell-with-append
    {
        @apply p-0;
    }
    .tds-table-tbody>tr.tds-table-row:hover>td {
        @apply  bg-neutral-3-50;
    }
    .tds-table-cell-fix-left{
        @apply  bg-white;
    }
    .tds-table-cell-fix-right{
        @apply  bg-white;
    }
    .tds-table-ping-left .tds-table-cell-fix-left-last:before {
        background-color: transparent!important;
    }
    .tds-table-ping-left .tds-table-cell-fix-left-first:after,
    .tds-table-ping-left .tds-table-cell-fix-left-last:after,
    .tds-table-ping-left:not(.tds-table-has-fix-left) .tds-table-container:before {
        box-shadow: inset 10px 0 8px -8px  rgba(0,0, 0 , 0.15);
    }
    .tds-table-cell-fix-left-first:after, .tds-table-cell-fix-left-last:after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: -1px;
        width: 30px;
        transform: translateX(100%);
        transition: box-shadow .3s;
        content: "";
        pointer-events: none;
    }
    .tds-table-ping-right .tds-table-cell-fix-right-first:after, 
    .tds-table-ping-right .tds-table-cell-fix-right-last:after, 
    .tds-table-ping-right:not(.tds-table-has-fix-right) .tds-table-container:after {
        box-shadow: inset -10px 0 8px -8px  rgba(0,0, 0 , 0.15);
    }
    .tds-table-cell-fix-right-first:after, .tds-table-cell-fix-right-last:after {
        position: absolute;
        top: 0;
        bottom: -1px;
        left: 0;
        width: 30px;
        transform: translateX(-100%);
        transition: box-shadow .3s;
        content: "";
        pointer-events: none;
    }
    .tds-table-hide-scrollbar {
        &.tds-custom-scroll {
            scrollbar-width: thin;
            scrollbar-color: var(--tdsScrollbarBG) var(--tdsScrollbarBG);
          }
         
          &.tds-custom-scroll::-webkit-scrollbar-thumb {
            background-color: var(--tdsScrollbarBG) ;
            border-radius: 6px;
            border: 0px solid var(--tdsScrollbarBG);
            height: 50%;
          }
        scrollbar-color: var(--tdsScrollbarBG) var(--tdsScrollbarBG);
        &::-webkit-scrollbar {
          background-color: var(--tdsScrollbarBG);
        }
        
      }
}        
