.profile{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 25%;
    input{
        padding-left: 10px;
        height: 4vh;
        border : solid 1px #e5e5e5;
        border-radius: 5px;
    }
}
.logo{
    display: flex;
    align-items: center;
    margin-left: 25%;
    margin-top: 5%;
}
.buttonAcept{
    width: 50%;
    margin-left: 25%;
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
}
.uploadAvatar{
    border-radius: 5px;
    border: solid 1px #e5e5e5;
    display: flex;
    align-items: center;
    background: #e5e5e5;
    input{
        border: none;
        width: 100%;
    }
}